{erl_opts, [debug_info]}.
{deps, []}.

{profiles, [{test, [{deps, [{eqwalizer_support,
                             {git_subdir,
                              "https://github.com/whatsapp/eqwalizer.git",
                              {branch, "main"},
                              "eqwalizer_support"}}
                           ]}]}]}.

{shell, [
    {config, "config/example.config"},
    {apps, [gen_cluster]}
]}.

{ct_opts, [{ct_hooks, [cth_surefire]}]}.

{project_plugins, [rebar3_ex_doc, covertool]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_export_enabled, true}.
{covertool, [{coverdata_files, ["ct.coverdata"]}]}.


{xref_checks,
 [
  %% enable most checks, but avoid 'unused calls'
  undefined_function_calls, undefined_functions, locals_not_used,
  deprecated_function_calls, deprecated_functions
 ]}.

{ex_doc, [
     {extras,
      [
       {"README.md", #{title => "Overview"}},
       {"examples/k8s_erlang_cluster/README.md", #{filename => "kubernetes_example.md"}}
      ]},
     {main, "README.md"},
     {source_url, "https://github.com/tsloughter/gen_cluster"}
]}.

{hex, [
    {doc, #{provider => ex_doc}}
]}.
