[
 {gen_cluster, [%% {type, {static, ['a@rosa', 'b@rosa']}},
                {auto_reconnect, true}
                %% {refresh_interval_ms, infinity}
               ]},

 {kernel,
  [{logger_level, debug},
   {logger,
    [{handler, default, logger_std_h,
      #{ formatter => {logger_formatter, #{}}}}]}]}
].


%% #{
%%   kernel =>
%%       #{logger_level => debug,
%%         logger =>
%%             [{handler, default, logger_std_h,
%%               #{formatter => {logger_formatter, #{}}}}]}
%%  }.

%% [
%%  {gen_cluster, [{type, {list, ['a@rosa', 'b@rosa']}},
%%                 {auto_reconnect}
%%                 {refresh_interval_ms, infinity}]},

%%  {kernel,
%%   [{logger_level, debug}]}
%% ].

%% #{
%%   gen_cluster => #{type => {list, ['a@rosa', 'b@rosa']},
%%                    auto_reconnect => true
%%                    refresh_interval_ms => infinity},

%%   kernel => #{logger_level => debug}
%% }.
