[
 {k8s_erlang_cluster, []},

 {gen_cluster, [{discovery, {dns, #{domain => "k8s-erlang-cluster.k8s-erlang-cluster"}}},
                {dist, {gc_dist_erl, []}},
                {refresh_interval_ms, 5000}]},

 {kernel,
  [{logger_level, debug},
   {logger,
    [{handler, default, logger_std_h,
      #{formatter => {logger_formatter, #{}}}}]}]}
].
