{erl_opts, [debug_info]}.
{deps, [{gen_cluster, {git, "https://github.com/tsloughter/gen_cluster", {branch, "main"}}}]}.

{relx,
 [
  {release, {k8s_erlang_cluster, "0.1.0"},
   [
    k8s_erlang_cluster,
    sasl
   ]},

  {mode, dev},

  {sys_config, "./config/sys.config"},
  {vm_args_src, "./config/vm.args.src"}
 ]}.

{profiles,
 [
  {ip_prod,
   [
    {relx,
     [
      {mode, prod},

      {sys_config, "./config/sys.config"}
     ]}
   ]},
  {srv_prod,
   [
    {relx,
     [
      {mode, prod},

      {sys_config, "./config/srv_sys.config"},
      {vm_args_src, "./config/srv_vm.args"}
     ]}
   ]}
 ]}.
